* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

/*Класс для создания ссылок поверх ДИВов*/
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Разница в размерах у логотипа и иконок, поэтому у хэдера жестко задана высота*/
.header {
    height: 76px;
    background-color: #222;
    display: grid;
    align-items: center;
    grid-template-columns: 44px 32px 1fr repeat(3, 32px);
    gap: 32px;
}

/*Нагуглилось: третий элемент "внутри класса"*/
.header img:nth-child(3) {
    grid-column-start: 4;
}

/*Захотелось сделать текст поверх картинками силами ЦСС*/
.top__banner {
    height: 764px;
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 634px 1fr;
    grid-template-rows: 290px min-content 1fr;
}

.top__heading {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.txt__highlight {
    color: #F16D7F;
}

.top-banner__text-element {
    display: grid;
    grid-template-columns: 12px 1fr;
    column-gap: 16px;
    grid-row-start: 2;
    grid-column-start: 2;
}

/*Прямоугольни*/
.zag__rectangle {
    background-color: #F16D7F;
    width: 100%;
    height: 100%;
}


.offer {
    margin-top: 65px;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.offer__item {
    position: relative;
    display: flex;
    height: 260px;
    flex-direction: column;
    background-color: rgba(33, 22, 22, 0.70);
    justify-content: center;
    align-items: center;
}

.offer__item p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer__item h3 {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.span_3 {
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
    height: 180px;
}

.offer__background-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -2;
}


.featured-items__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 48px;
    justify-items: center;
}

.f-i__image-block {
    height: 420px;
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
}

.f-i__item {
    background-color: #F8F8F8;
    position: relative;
}

.f-i__gallery-title {
    display: flex;
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18px;
}

.f-i__text-block {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    row-gap: 16px;
}

.f-i__heading {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.f-i__subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.f-i__item-name {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.f-i__description {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-outline {
    width: 212px;
    height: 48px;
    grid-column: 1 / 4;
    background-color: rgba(256, 256, 256, 0);
    border: #FF6A6A solid 1px;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}