@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

/*Класс для создания ссылок поверх ДИВов*/
.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Разница в размерах у логотипа и иконок, поэтому у хэдера жестко задана высота*/
.header {
  height: 76px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.nav-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding: 0 8px;
}

.menu__icon {
  position: relative;
  height: 76px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.shopping-cart {
  background-image: url("../img/Shopping-cart_icon.svg");
}

.person {
  background-image: url("../img/person_icon.svg");
}

.hamburger-menu {
  background-image: url("../img/Hamburger_icon.svg");
}

.search-icon {
  background-image: url("../img/Search_icon.svg");
}

.badge {
  position: absolute;
  left: 22px;
  top: 14px;
  height: 19px;
  width: 19px;
  background-color: #FF6A6A;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.badge p {
  color: white;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner {
  display: grid;
  grid-template-columns: 634px 1fr;
  background-color: #F1E4E6;
}

.banner-img {
  display: flex;
  height: inherit;
}
.banner-img img {
  height: 100%;
  width: auto;
}

.site-name {
  display: flex;
  flex-direction: column;
  border-left: 12px solid #F16D7F;
  padding-left: 27px;
  margin-top: 290px;
  height: min-content;
}
.site-name h1 {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}
.site-name p {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.site-name p span {
  color: #F16D7F;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 360px));
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 65px;
  padding-bottom: 110px;
}

.offer__item {
  position: relative;
  display: flex;
  height: 245px;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer__item:nth-child(1) {
  background-image: url("../img/1-for women.png");
}
.offer__item:nth-child(2) {
  background-image: url("../img/2-for men.png");
}
.offer__item:nth-child(3) {
  background-image: url("../img/3-for kids.png");
}
.offer__item:nth-child(4) {
  height: 180px;
  background-image: url("../img/4-ACCESORIES.png");
  grid-column: 1/-1;
}

.offer__caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  text-align: center;
  height: 100%;
  width: 100%;
  background: rgba(33, 22, 22, 0.7);
  z-index: 1;
}
.offer__caption h2 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer__caption h2 span {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.goods {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 360px));
  column-gap: 30px;
  row-gap: 30px;
  padding-bottom: 110px;
}

.goods__item {
  display: flex;
  flex-direction: column;
  /* Заголовок раздела с каталогом товаров*/
}
.goods__item:first-child {
  grid-column: 1/-1;
  align-items: center;
}
.goods__item:first-child h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.goods__item:first-child p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  padding: 6px 0 18px;
}
.goods__item figure {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 97%);
}
.goods__item figure figcaption {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 20px;
}
.goods__item figure figcaption h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.goods__item figure figcaption p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  padding: 12px 0 0;
}
.goods__item figure figcaption .price {
  color: hsl(352, 83%, 69%);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }
  .nav-elements {
    padding: 0;
  }
  .banner {
    grid-template-columns: 408px 1fr;
    height: 367px;
  }
  .banner-img {
    justify-content: center;
  }
  .site-name {
    margin-top: 138px;
  }
  .site-name h1 {
    font-size: 44px;
  }
  .site-name p {
    font-size: 24px;
  }
  .offer {
    grid-template-columns: repeat(3, minmax(200px, 360px));
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 96px;
  }
  .offer__item {
    height: 167px;
  }
  .offer__item:nth-child(4) {
    height: 116px;
  }
  .goods {
    grid-template-columns: repeat(2, minmax(300px, 360px));
    column-gap: 16px;
    row-gap: 16px;
    padding-bottom: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .shopping-cart {
    display: none;
  }
  .person {
    display: none;
  }
  .banner {
    grid-template-columns: 1fr;
    height: 367px;
  }
  .banner .banner-img {
    display: none;
  }
  .site-name {
    margin: auto;
  }
  .site-name h1 {
    font-size: 38px;
  }
  .site-name p {
    font-size: 20px;
  }
  .offer {
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .offer__item {
    height: 250px;
  }
  .offer__item:nth-child(4) {
    height: 111px;
  }
  .goods {
    grid-template-columns: 1fr;
    row-gap: 16px;
    padding-bottom: 110px;
  }
}

/*# sourceMappingURL=style.css.map */
